.tags ul {
  display: inline;
  margin-left: 0;
}

.tags li {
  display: inline-block;
  background-color: #6db900;
  border-radius: 4px;
  padding: 0 0.6em;
  margin: 0.1em 0.2em;
}

.tags li a, .tags li a:hover, .tags li a:visited {
  color: white;
}

.tags li a:hover {
  border-bottom-color: white;
}

#tags header {
  font-size: 80%;
  margin-bottom: 1em;
}

#tags header ul {
  margin: 0;
}

#tags header li.selected {
  background-color: #5cb0cc;
}
