---
layout: default
title: Auteurs
---

<style type="text/css">
  div.selected {
  	border-width: 10px;
  }
</style>
    
<section id="authors">

    {% for author in site.authors %}
	<div class="row" id="{{ author[0] }}">
		<div class="well span12">
			<div class="span2">
					<img src="http://www.gravatar.com/avatar/{{ author[1].gravatar }}?s=100" alt="{{ author[1].fullname }}" />
			</div>
			<div class="span10">
				<div class="row">
					<div class="span12">
			        	<h1>{{ author[1].fullname }}</h1>
			        </div>
		        </div>
				<div class="row">
					<div class="span1">
						{% if author[1].twitter %} 
				        <a class="twitter" href="https://twitter.com/{{ author[1].twitter }}" title="@{{ author[1].twitter }} sur Twitter"><img src="/img/twitter-bird-light-bgs.png"></a>
				        {% endif %}
					</div>
					<div class="span1 offset1">
						{% if author[1].github %} 
				        <a class="github" href="https://github.com/{{ author[1].github }}" title="{{ author[1].github }} sur Github"><img src="/img/octocat.png"></a>
				        {% endif %}
					</div>
					<div class="span1 offset1">
						{% if author[1].email %} 
				        <a class="email" href="mailto:{{ author[1].email }}" title="Envoyer un email a {{ author[1].email }}"><img src="/img/email-icon.png"></a>
				        {% endif %}
					</div>
		        </div>
			</div>
		</div>
	</div>
    {% endfor %}
</section>

    <script defer src="/js/tags.js"></script>
    <script defer src="/js/authors.js"></script>

