---
layout: default
title: Auteurs
---

<style type="text/css">
  div.selected {
  	border-width: 10px;
  }
</style>
    
<section id="authors">

    {% for author in site.authors %}
	<div class="row" id="{{ author[0] }}">
		<div class="well span12">
			<div class="span2">
					<img src="http://www.gravatar.com/avatar/{{ author[1].gravatar }}?s=100" alt="{{ author[1].fullname }}" />
			</div>
			<div class="span10">
				<div class="row">
					<div class="span12">
			        	<h1>{{ author[1].fullname }}</h1>
			        </div>
		        </div>
				<div class="row">
					<div class="span1">
				        <a href="javascript:showPosts('{{ author[0] }}_posts');" title="Voir les articles de {{ author[1].fullname }}"><img src="/img/posts-icon.png"></a>
					</div>
					<div class="span1 offset1">
						{% if author[1].twitter %} 
				        <a class="twitter" href="https://twitter.com/{{ author[1].twitter }}" title="@{{ author[1].twitter }} sur Twitter"><img src="/img/twitter-bird-light-bgs.png"></a>
				        {% endif %}
					</div>
					<div class="span1 offset1">
						{% if author[1].github %} 
				        <a class="github" href="https://github.com/{{ author[1].github }}" title="{{ author[1].github }} sur Github"><img src="/img/octocat.png"></a>
				        {% endif %}
					</div>
					<div class="span1 offset1">
						{% if author[1].email %} 
				        <a class="email" href="mailto:{{ author[1].email }}" title="Envoyer un email a {{ author[1].email }}"><img src="/img/email-icon.png"></a>
				        {% endif %}
					</div>
		        </div>
				<div id="{{ author[0] }}_posts" class="row hidden">
				<ul>
				{% for post in site.posts %}
					{% if author[0] == post.author %} 
				        <li><a href="{{ post.url }}" class="read-more" title="Lire l'article complet">{{ post.title }}</a>
			        {% endif %}
				{% endfor %}
				</ul>
		        </div>
			</div>
		</div>
	</div>
    {% endfor %}
</section>


