---
layout: default
title: Les 10 derniers articles
---

{% for post in site.posts limit:10 %}

<div class="row">
	<div class="span12"><h1><a href="{{ post.url }}">{{ post.title }}</a></h1></div>
</div>
<div class="row">
	<div class="span12">
	<p>Par <span class="author"><a href="/authors.html#{{ post.author }}">{{ site.authors[post.author].fullname }}</a></span> 
	le {{ post.date | date: "%d/%m/%Y" }}</p>
	</div>
</div>
<div class="row">
	<div class="span12">
	{% include tags.html %}
	</div>
</div>

<div class="row">
	<div class="span12">
		<blockquote>
			<p>{{ post.content | truncatewords:60 }}</p>
			<small><a href="{{ post.url }}" class="read-more" title="Lire l'article complet">Lire la suite</a></small>
		</blockquote>
	</div>
</div>

{% endfor %}