<ul class="nav nav-list">
  {% for menu in site.navigation %}
  <li class="nav-header">{{ menu.texte }}</li>
    {% for link in menu.submenu %}
      {% assign current = nil %}
      {% if page.url == link.url or page.layout == link.layout %}
        {% assign current = 'active' %}
      {% endif %}
      <li class="{{ current }}">
      {% if link.url <> 'notyet' %}
      <a href="{{ link[1].url }}">
      {% endif %}
		{{ link.texte }}
      {% if link.url <> 'notyet' %}
      </a>
      {% endif %}
      </li>
    {% endfor %}
  {% endfor %}
</ul>
