<ul class="nav nav-list">
  {% for menu in site.navigation %}
  <li class="nav-header">{{ menu[0] }}</li>
    {% for link in menu[1] %}
      {% assign current = nil %}
      {% if page.url == link[1].url or page.layout == link[1].layout %}
        {% assign current = 'active' %}
      {% endif %}
      <li class="{{ current }}">
      {% if link[1].url <> 'notyet' %}
      <a href="{{ link[1].url }}">
      {% endif %}
		{{ link[1].texte }}
      {% if link[1].url <> 'notyet' %}
      </a>
      {% endif %}
      </li>
    {% endfor %}
  {% endfor %}
</ul>
